@import './index.scss';

/* GENERAL AND [DATA] STYLES */
/*======================================================================*/
#root {
    width: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

body {
    font-family: var(--ff-body);
    color: var(--clr-text);
    font-size: var(--fs-body-mobile);
}

@media (min-width: 50em) {
    body {
        font-size: var(--fs-body);
    }
}

[data-type='inverted'] {
    background-color: var(--clr-dark-accent);
    color: var(--clr-neutral)
}

/* MIXINS */
/*========*/
@mixin transition-ease($time) {
    transition: all #{$time}s ease-in-out;
}

@mixin pseudo-default {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

@mixin box-shadow($color: var(--clr-text)) {
    box-shadow: 0 1px 5px $color;
}

@mixin headline-underline($top: 25%, $width: 5em) {
    position: absolute;
    content: '';
    width: $width;
    height: 5px;
    right: 50%;
    top: $top;
    border-radius: 20px 0 20px 0;
    transform: translateX(50%);
    background: linear-gradient(to right, var(--clr-light), var(--clr-text));
    @include box-shadow(rgba(var(--clr-text-rgb), .5));
    z-index: 1;
}


/* NAVIGATION */
/*======================================================================*/
.nav {
    position: fixed;
    display: grid;
    place-items: center;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--clr-neutral);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
    overflow: hidden;

    &__wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #{&}__list {
        list-style-type: none;
        height: 100%;

        &-item {
            position: relative;
            font-weight: var(--fw-medium);
            padding: 0 var(--padding-100);
            transform: scale(1);
            @include transition-ease(.2);
        }

        &-item:hover,
        &-item:focus {
            transform: scale(1.1);
        }
    }

    &__menu {
        width: 30px;
        height: 3px;
        background-color: var(--clr-text);
        position: relative;
        cursor: pointer;
        z-index: 1000;

        &::before,
        &::after {
            content: '';
            width: 40px;
            height: 3px;
            position: absolute;
            background-color: inherit;
        }

        &::before {
            top: 5px;
        }

        &::after {
            top: 10px;
        }
    }

    .wrapper {
        cursor: pointer;
    }

    #{&}__logo-icon {

        text-transform: uppercase;
        font-weight: var(--fw-bold);
    }

    .mobile-nav {
        position: fixed;
        inset: 0;
        text-align: center;
        font-size: var(--fs-heading);
        background-color: rgba(var(--clr-light-rgb), .97);
        z-index: 1000;

        &__list {
            list-style: none;

            &-item {
                position: relative;
                padding: var(--padding-300) 0;

                &::before {
                    @include pseudo-default();
                    left: 100%;
                    top: 0;
                    background-color: rgb(var(--clr-text-rgb), .8);
                    z-index: -1;
                    @include transition-ease(.2);
                }

                &:hover::before,
                &:focus::before {
                    left: 0;
                }

                & a {
                    color: var(--clr-neutral);
                }
            }
        }
    }
}

/* HEADER */
/*======================================================================*/

.header {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));

    &::before {
        @include pseudo-default();
        top: -120px;
        background: url('../assets/images/cover-bg.png') no-repeat bottom;
        background-size: cover;
        transform: rotate(180deg);
        z-index: -100;
    }

    &::after {
        @include pseudo-default();
        top: -50px;
        background: url('../assets/images/cover-bg.png') no-repeat top;
        background-size: cover;
        transform: scaleX(-1);
        opacity: .1;
        z-index: -100;
    }

    #{&}__body {
        gap: 0;
        max-width: 70em;
        margin: 0 auto;
    }

    &__body> :nth-child(1) {
        width: 50%;
        border-radius: 50%;
        margin: 0 auto -30px auto;
        overflow: hidden;
    }

    &__body__card {
        position: relative;
        text-align: center;
        padding: var(--padding-500);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border-radius: 0 0 10px 0;
            background-color: var(--clr-neutral);
        }

        &__heading,
        &__text {
            margin-bottom: var(--margin-300);
        }

        h1::after {
            @include headline-underline();
        }

        span {
            font-weight: var(--fw-bold);
        }

        :nth-child(3) button {
            margin-bottom: var(--margin-700);
            border: none;
            letter-spacing: 1px;
            color: var(--clr-neutral);
            font-weight: var(--fw-bold);
            font-size: var(--fs-regular);
            padding: var(--padding-200) var(--padding-700);
            background: linear-gradient(to bottom, var(--clr-light-accent), var(--clr-light));
            @include box-shadow(rgba(var(--clr-neutral-rgb), .3));
            @include transition-ease(.2);

            &:hover,
            &:focus {
                // border-radius: 10px;
                cursor: pointer;
            }

            &:active {
                border-radius: 10px;
                transform: scale(.95);
            }
        }

        &__actions> :nth-child(2) {
            display: flex;
            width: 50%;
            margin: 0 auto;
            justify-content: space-around;
            font-size: var(--fs-heading);

            .social-icon {
                padding: var(--padding-100);
                cursor: pointer;

                svg {
                    @include transition-ease(.2);
                }

                &:hover svg,
                &:focus {
                    color: var(--clr-light);
                    transform: scale(1.3);
                }

                &:active svg {
                    transform: scale(1.25);
                }
            }
        }
    }
}

@media (min-width: 50em) {
    .header {

        &::after {
            top: 0;
        }

        &__body {
            padding: 0 var(--padding-100);
        }

        &__body>:nth-child(2) {
            width: 50%;
            max-height: 400px;
            align-self: center;
            // border-radius: 50px;
            @include box-shadow(var(--clr-text))
        }

        &__body__card__actions div:last-of-type {
            font-size: var(--fs-subbheading);
        }
    }
}

/* SERVICES */
/*======================================================================*/
.services {
    max-width: 80em;
    color: var(--clr-text);
    text-align: center;

    &__body {
        width: 100%;

        #{&}__slider {
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;
            padding: var(--padding-300);
            width: 100%;
        }
    }


    &__heading {
        position: relative;
        margin-top: var(--margin-300);

        &::after {
            @include headline-underline(100%, 8em);
            margin: 0;
        }
    }

    &__text {
        margin: var(--margin-500) 0;
        font-size: var(--fs-subheading);
        font-weight: var(--fw-medium);
    }

    &__body__slider__item {
        padding: var(--padding-100);
        background-color: var(--clr-light);
        color: var(--clr-neutral);
        cursor: pointer;
        @include box-shadow(var(--clr-text));


        &__container {
            padding: var(--padding-500);
            background-color: rgba(0, 0, 0, .1);
        }

        &__heading {}

        &__icon {
            font-size: 5rem;
            opacity: .5;
        }


        &__text {
            margin-top: var(--margin-300);
        }
    }
}

@media (min-width: 50em) {
    .services {
        &__body {
            #{&}__slider {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

/* UTILITY CLASSES */
/*======================================================================*/
.container,
.container--wide {
    margin: 0 auto;
    max-width: 80em;
}

.container {
    width: 70%;
}

.container--wide {
    width: 90%;
}

.container--full {
    width: 100%;
}

.inverted {
    color: var(--clr-secondary);
}

.brighten {
    background-color: var(--clr-neutral);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.flex--no-gap {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.active {
    background-color: var(--clr-text);
    color: var(--clr-neutral);
}

@media (min-width: 50em) {
    .flex {
        flex-direction: row;
    }

    .flex--no-gap {
        flex-direction: row;
    }
}