@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@300;400;500;700&display=swap');

/* ALL VARIABLES */
:root {
  --ff-body: 'Noto Sans Hebrew', sans-serif;
  --fs-body: 16px;
  --fs-body-mobile: 14px;
  --fs-heading: 2.5rem;
  --fs-subbheading: 1.5rem;
  --fs-big: 1.2rem;
  --fs-regular: 1rem;
  --fs-small: .875rem;
  --fs-xs: .75rem;


  --fw-small: 300;
  --fw-medium: 500;
  --fw-bold: 700;

  --columns: 1fr 1fr;

  --clr-light: #0c74b0;
  --clr-glow: hsl(154, 93%, 58%);
  --clr-light-accent: #35A8F7;
  --clr-dark-accent: #404040;
  --clr-neutral: #FFFF;
  --clr-secondary: #868686;
  --clr-text: #2c2c2c;
  --clr-text-rgb: 30, 30, 30;
  --clr-neutral-rgb: 255, 255, 255;
  --clr-light-rgb: 12, 116, 176;
  --clr-light-accent-rgb: 53, 168, 247;

  --size-100: .5em;
  --size-200: .875em;
  --size-300: 1em;
  --size-400: 1.5em;
  --size-500: 1.875em;
  --size-600: 2em;
  --size-700: 2.5em;
  --size-800: 3em;
  --size-900: 5em;
  --size-1000: 10em;

  --gap: 1em;
  --gap-big: 2em;

  --center: 0 auto;

  @media(min-width: 50em) {
    --fs-heading: 4rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--clr-dark);
  font-size: var(--fs-heading);
  text-align: center;
}

p {
  font-size: var(--fs-regular);
}

a {
  text-decoration: none;
  color: var(--clr-text)
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}